<nav class="sidebar">
  <div class="items">
    <div class="item active">
      <fa-icon class="fa icon" [icon]="icons.chats" />
      <div class="text">Chats</div>
    </div>
    <div class="item">
      <fa-icon class="fa icon" [icon]="icons.friends" />
      <div class="text">Friends</div>
    </div>
    <div class="item">
      <fa-icon class="fa icon" [icon]="icons.explore" />
      <div class="text">Explore</div>
    </div>
    <div class="item">
      <fa-icon class="fa icon" [icon]="icons.settings" />
      <div class="text">Settings</div>
    </div>
  </div>
</nav>