<section class="no-messages">
  <h2 class="heading">
    <a routerLink="/access" routerLinkActive="active" class="icon-back">
      <fa-icon class="fa" [icon]="icons.back" />
    </a>
    <span @fadeIn>Chats</span>
    <fa-icon @fadeIn class="fa icon" [icon]="icons.section" />
  </h2>
  <div class="content" @fadeIn>
    <h3 class="info">There are no messages yet!</h3>
    <div class="emoticon">
      <img src="./../../assets/img/Sad-Emoticon.png" alt="">
    </div>
  </div>
  <app-footer />
</section>
