@import './../../../../assets/scss/variables.scss';

.message-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 4vmin 2vmin;

  &.is-you {
    justify-content: flex-end;
    flex-direction: row-reverse;

    .avatar {
      img {
        border: .7vmin solid $secondaryColor;
      }
    }

    .message {

      &__wrapper {
        justify-content: flex-end;

        .date {
          order: 1;
          margin-right: 4vmin;
          margin-left: 0;
        }

        .content {
          order: 2;
          background-color: $secondaryColor !important;
          color: $textColor;
          margin-right: 3vmin;
        }
      }

      .name {
        text-align: right;
        margin-right: 5vmin;
      }
    }
  }

  .avatar {
    align-self: flex-end;

    img {
      width: 10vmin;
      height: 10vmin;
      border-radius: 5vmin;
      border: .7vmin solid $primaryColor;
    }
  }

  .message {
    margin-left: 3vmin;
    width: 100%;
    // width: 80%;

    .message__wrapper {
      display: flex;

      .date {
        display: flex;
        align-items: center;
        color: lighten($bgColor, 20%);
        margin-left: 4vmin;
        max-width: 80%;
      }

      .content {
        display: inline-block;
        background-color: $primaryColor;
        border-radius: 2vmin;
        padding: 2vmin;
        max-width: 80%;
      }
    }

    .name {
      margin-bottom: 2vmin;
      color: $textColor;
      margin-left: 1vmin;
    }
  }
}

.no-messages {
  color: red;
}

@media screen and (min-width: 768px) {
  .message-box {
    &.is-you {
      .avatar {
        img {}
      }

      .message {

        &__wrapper {


          .date {}

          .content {}
        }

        .name {}
      }
    }

    .avatar {


      img {}
    }

    .message {


      .message__wrapper {


        .date {
          font-size: 4vmin;
        }

        .content {
          font-size: 4vmin;
        }
      }

      .name {
        font-size: 4vmin;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .message-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 4vmin 2vmin;

    &.is-you {
      justify-content: flex-end;
      flex-direction: row-reverse;

      .avatar {
        img {
          width: 5vmin;
          height: 5vmin;
          border: .3vmin solid $secondaryColor;
        }
      }

      .message {

        &__wrapper {
          justify-content: flex-end;

          .date {}

          .content {}
        }

        .name {}
      }
    }

    .avatar {

      img {
        width: 5vmin;
        height: 5vmin;
        border-radius: 2.5vmin;
        border: .3vmin solid $primaryColor;
      }
    }

    .message {
      .message__wrapper {

        .date {
          font-size: 2vmin;
        }

        .content {
          font-size: 2vmin;
          padding: 1.3vmin;

        }
      }

      .name {
        font-size: 2vmin;
      }
    }
  }
}
