<ng-container *ngIf="chatType === ChatType.USER_CHAT">
  <ng-container *ngIf="message.sender === friendData.id || message.sender === loggedUser?._id; else systemMessage">
    <div class="message-box"
      [ngClass]="{'is-you': message.sender === loggedUser?._id, 'is-friend': message.sender === friendData.id}">
      <div class="avatar">
        <img [src]="message.sender === loggedUser?._id ? loggedUser?.avatar : friendData.avatar"
          [alt]="message.sender === loggedUser?._id ? loggedUser?.name : friendData.settings.nickname">
      </div>
      <div class="message">
        <div class="name">
          {{ message.sender === loggedUser?._id ? loggedUser?.name : friendData.settings.nickname }}
        </div>
        <div class="content-wrapper">
          <div class="content" (click)="toggleReactionsVisibility()"
            [innerHTML]="formatMessageContent(message.content)">
          </div>
          <div class="given-reactions" *ngIf="message.reactions.length > 0">
            <span class="given-reactions__counter" *ngIf="message.reactions.length > 1">
              {{ message.reactions.length }}</span>
            <span class="given-reactions__emoticons"
              *ngFor="let reaction of message.reactions">{{ reaction.emoticon }}</span>
          </div>
          <div class="reactions" *ngIf="visibleReactions">
            <span (click)="handleAddReaction('👍',false)">👍</span>
            <span (click)="handleAddReaction('❤️',false)">❤️</span>
            <span (click)="handleAddReaction('😂',false)">😂</span>
            <span (click)="handleAddReaction('😠',false)">😠</span>
            <span (click)="handleAddReaction('😲',false)">😲</span>
          </div>
          <div class="date">{{ formattedDate }}</div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-container *ngIf="chatType === ChatType.GROUP_CHAT">
  <ng-container *ngIf="message.sender === activeUser.id || message.sender === loggedUser?._id; else systemMessage">
    <div class="message-box"
      [ngClass]="{'is-you': message.sender === loggedUser?._id, 'is-friend': message.sender === activeUser.id}">
      <div class="avatar">
        <img [src]="message.sender === activeUser.id ? ensureFullURL(activeUser.avatar) : loggedUser?.avatar"
          [alt]="activeUser.nickname">
      </div>
      <div class="message">
        <div class="name">
          {{message.sender === activeUser.id ? activeUser.nickname : loggedUser?.name}}
        </div>
        <div class="content-wrapper">
          <div class="content" (click)="toggleReactionsVisibility()"
            [innerHTML]="formatMessageContent(message.content)">
          </div>
          <div class="given-reactions" *ngIf="message.reactions.length > 0">
            <span class="given-reactions__counter"
              *ngIf="message.reactions.length > 1">{{ message.reactions.length }}</span>
            <span class="given-reactions__emoticons"
              *ngFor="let reaction of message.reactions">{{ reaction.emoticon }}</span>
          </div>
          <div class="reactions" *ngIf="visibleReactions">
            <span (click)="handleAddReaction('👍',true)">👍</span>
            <span (click)="handleAddReaction('❤️',true)">❤️</span>
            <span (click)="handleAddReaction('😂',true)">😂</span>
            <span (click)="handleAddReaction('😠',true)">😠</span>
            <span (click)="handleAddReaction('😲',true)">😲</span>
          </div>
          <div class="date">{{ formattedDate }}</div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #systemMessage>
  <div class="system-message">{{message.content}} </div>
</ng-template>
