@import './../../../../assets/scss/variables.scss';

.system-message {
  text-align: center;
  color: lighten($bgColor, 20%);
  margin: 4vmin 0;
}

.reactions {
  position: absolute;
  bottom: -45px;
  left: 25%;
  background-color: $bgColor;
  border-radius: 5vmin;
  padding: 1vmin;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    transition-duration: .4s;
    border-radius: 50%;
    padding: 1vmin;

    &:hover {
      cursor: pointer;
      background-color: $secondaryColor;
    }
  }
}

.message-box.is-friend {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2vmax 2vmin;

  .avatar {
    width: 50px;
    height: 50px;
    margin-right: 3vmin;

    img {
      margin-top: 2vmin;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: .7vmin solid $primaryColor;
    }
  }

  .message {
    position: relative;

    .name {
      color: $textColor;
      margin: 1vmin;
    }

    .content-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      .content {
        border-radius: 2vmin;
        background-color: $primaryColor;
        padding: 2vmin;
        word-wrap: break-word;
        white-space: pre-wrap;
        max-width: 60vw;

        &:hover {
          cursor: pointer;
        }
      }

      .date {
        margin: 2vmin;
        color: lighten($bgColor, 20%);
      }

      .given-reactions {
        position: absolute;
        bottom: -25px;
        right: 8vmin;
        background-color: $bgColor;
        opacity: .9;
        border-radius: 2vmin;
        padding: 1vmin;
        display: inline-flex;

        &__counter {
          margin-right: 1vmin;
          color: $textColor;
        }

        &__emoticons {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}



.message-box.is-you {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2vmax 2vmin;


  .avatar {
    width: 50px;
    height: 50px;
    margin-left: 3vmin;
    order: 2;

    img {
      margin-top: 2vmin;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: .7vmin solid $secondaryColor;
    }
  }

  .message {
    position: relative;

    .name {
      text-align: right;
      color: $textColor;
      margin: 1vmin;
    }

    .content-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      .content {
        border-radius: 2vmin;
        background-color: $secondaryColor;
        color: $textColor;
        padding: 2vmin;
        word-wrap: break-word;
        white-space: pre-wrap;
        max-width: 60vw;
        order: 2;

        &:hover {
          cursor: pointer;
        }
      }

      .date {
        margin: 2vmin;
        color: lighten($bgColor, 20%);
        order: 1;
      }

      .given-reactions {
        position: absolute;
        bottom: -25px;
        left: 8vmin;
        background-color: $bgColor;
        opacity: .9;
        border-radius: 2vmin;
        padding: 1vmin;
        display: inline-flex;

        &__counter {
          margin-right: 1vmin;
          color: $textColor;
        }

        &__emoticons {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .system-message {
    font-size: 4vmin;
  }
}

@media screen and (min-width: 768px) {
  .message-box.is-you {
    .avatar {
      img {
        border: .3vmin solid $secondaryColor;
      }
    }

    .message {
      .name {
        font-size: 4vmin;
      }

      .content-wrapper {
        .content {
          font-size: 3vmin;
        }

        .date {
          font-size: 3vmin;
        }
      }
    }
  }

  .message-box.is-friend {
    .avatar {
      img {
        border: .3vmin solid $primaryColor;
      }
    }

    .message {
      .name {
        font-size: 4vmin;
      }

      .content-wrapper {
        .content {
          font-size: 3vmin;
        }

        .date {
          font-size: 3vmin;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .system-message {
    font-size: 2vmin;
  }

  .message-box.is-friend {
    .avatar {
      img {
        border-width: .3vmin;
      }
    }

    .message {
      .name {
        font-size: 2.5vmin;
      }

      .content-wrapper {
        .content {
          font-size: 2vmin;
          max-width: 45vw;
          padding: 1.5vmin;
        }

        .date {
          font-size: 2vmin;
        }

        .given-reactions {
          bottom: -25px;
          right: 7vmin;
        }
      }
    }
  }


  .message-box.is-you {
    .avatar {
      img {
        border-width: .3vmin;
      }
    }

    .message {
      .name {
        font-size: 2.5vmin;
      }

      .content-wrapper {
        .content {
          font-size: 2vmin;
          max-width: 45vw;

          padding: 1.5vmin;
        }

        .date {
          font-size: 2vmin;
        }

        .given-reactions {
          bottom: -25px;
          left: 7vmin;
        }
      }
    }
  }
}
