<ng-container *ngIf="message.sender !== MessageSender.SYSTEM; else systemMessage">
  <div class="message-box" [ngClass]="{'is-you': message.sender === MessageSender.YOU}">
    <div class="avatar">
      <img [src]="message.sender === MessageSender.YOU ? loggedUser?.avatar : friendData.avatar"
        [alt]="message.sender === MessageSender.YOU ? loggedUser?.name : friendData.settings.nickname">
    </div>
    <div class="message">
      <div class="name">{{ message.sender === MessageSender.YOU ? loggedUser?.name : friendData.settings.nickname }}
      </div>
      <div class="message__wrapper">
        <span class="content">{{ message.content }}</span>
        <div class="date">{{ formattedDate }}</div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #systemMessage>
  <div class="blocked-message">{{message.content}}</div>
</ng-template>
