<ng-container *ngIf="message.sender !== MessageSender.SYSTEM; else systemMessage">
  <div class="message-box"
    [ngClass]="{'is-you': message.sender === MessageSender.YOU, 'is-friend': message.sender === MessageSender.FRIEND}">
    <div class="avatar">
      <img [src]="message.sender === MessageSender.YOU ? loggedUser?.avatar : friendData.avatar"
        [alt]="message.sender === MessageSender.YOU ? loggedUser?.name : friendData.settings.nickname">
    </div>
    <div class="message">
      <div class="name">{{ message.sender === MessageSender.YOU ? loggedUser?.name : friendData.settings.nickname }}
      </div>
      <div class="content-wrapper">
        <div class="content" (click)="toggleReactionsVisibility()" [innerHTML]="formatMessageContent(message.content)">
        </div>
        <div class="given-reactions" *ngIf="message.reactions.length > 0">
          <span class="given-reactions__counter" *ngIf="message.reactions.length > 1">
            {{ message.reactions.length }}</span>
          <span class="given-reactions__emoticons"
            *ngFor="let reaction of message.reactions">{{ reaction.emoticon }}</span>
        </div>
        <div class="reactions" *ngIf="visibleReactions">
          <span (click)="handleAddReaction('👍')">👍</span>
          <span (click)="handleAddReaction('❤️')">❤️</span>
          <span (click)="handleAddReaction('😂')">😂</span>
          <span (click)="handleAddReaction('😠')">😠</span>
          <span (click)="handleAddReaction('😲')">😲</span>
        </div>
        <div class="date">{{ formattedDate }}</div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #systemMessage>
  <div class="system-message">{{message.content}}</div>
</ng-template>
