@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Madimi+One&display=swap');

$primaryColor: #FFDE3B;
$secondaryColor: #02735E;
$supportColor: #2F5152;
$textColor: #FFFFFF;
$bgColor: #3D3D3D;
$blackColor: #000000;
$onlineColor: #00ab17;
$offlineColor: #b80000;
$dynamicStateColor: #000000ba;


$textFont: "Madimi One", sans-serif;
$decorativeFont: "Black Ops One", system-ui;