<section class="people">
  <h2 class="heading">
    <a routerLink="/access" routerLinkActive="active" class="icon-back">
      <fa-icon class="fa" [icon]="icons.back" />
    </a>
    <span>People</span>
    <fa-icon class="fa icon" [icon]="icons.section" />
    <div class="friends" [@fadeInTotal]>
      <strong>{{totalFriends}}</strong>
      <p>
        <span>Friends</span>
        <fa-icon class="fa icon" [icon]="icons.friends" />
      </p>
    </div>
  </h2>
  <div class="boxes">
    <div class="box" [@fadeInCard]>
      <h3><span class="online">On</span>line - <strong>{{online.length}}</strong></h3>
      <div class="users">
        <app-card *ngFor="let on of online" [person]="on" [type]="cardType.ONLINE" />
      </div>
    </div>
    <div class="box" [@fadeInCard]>
      <h3><span class="offline">Off</span>line - <strong>{{offline.length}}</strong></h3>
      <div class="users">
        <app-card *ngFor="let off of offline" [person]="off" [type]="cardType.OFFLINE" />
      </div>
    </div>
    <div class="box" [@fadeInCard]>
      <h3>Blocked - <strong>{{blocked.length}}</strong></h3>
      <div class="users">
        <app-card *ngFor="let block of blocked" [person]="block" [type]="cardType.BLOCKED"
          (blockedHandled)="handleBlocked($event)" />
      </div>
    </div>
    <div class="box" [@fadeInCard]>
      <h3>Reqests - <strong>{{requests.length}}</strong></h3>
      <div class="users">
        <app-card *ngFor="let request of requests" [person]="request" [type]="cardType.REQUEST"
          (requestHandled)="handleRequest($event)" />
      </div>
    </div>
  </div>

  <app-footer />
</section>
