@import './../../../../assets/scss/variables.scss';
@import './../../../../assets/scss/placeholders.scss';
@import './../../../../assets/scss/mixins.scss';

.chat {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  &::-webkit-scrollbar {
    display: none;
  }

  .header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2vmin 1vmin;
    background-color: $blackColor;
    border-bottom: .3vmin solid $primaryColor;
    box-shadow: 0 0 2vmin .2vmin $primaryColor;
    z-index: 4;
    flex-shrink: 0;

    .icon-back {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $primaryColor;
      padding: 2vmin;
      font-size: 8vmin;
      transition-duration: .4s;
      margin-left: 2vmin;

      &:hover {
        cursor: pointer;
        color: $secondaryColor;
        transform: scale(1.2);
      }
    }

    .info {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      // justify-content: space-between;
      width: 100%;
      position: relative;

      .identifier {
        color: $textColor;
        font-size: 6vmin;
        width: 60vw;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-left: 4vmin;
      }

      .icons {
        display: flex;
        position: absolute;
        right: 0;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;
        margin-top: 2vmin;

        .icon-wrapper {
          display: flex;
          flex-direction: column;
          position: relative;

          &.hidden {
            visibility: hidden;
          }

          .icon {
            color: $primaryColor;
            font-size: 6vmin;
            transition-duration: .4s;
            width: 7vmin;
            text-align: center;

            &:hover {
              cursor: pointer;
              color: $secondaryColor;
              transform: scale(1.2);
            }
          }

          .text {
            display: none;
          }
        }
      }
    }
  }

  .messages {
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;

    .start-chat {
      color: $textColor;
      text-align: center;
      font-size: 4vmin;
      margin: 6vmin;
    }

    .blocked-message {
      text-align: center;
      color: lighten($bgColor, 20%);
      margin-bottom: 3vmin;
    }

    .load-more-messages {
      @include btn($bgColor, $primaryColor, $secondaryColor);
      width: 20%;
      font-size: 2vmin;
      margin: 5vmin auto;
    }
  }

  .type-message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $blackColor;
    border-top: .3vmin solid $primaryColor;
    box-shadow: 0 0 2vmin .2vmin $primaryColor;
    padding: 2vmin 0;
    overflow: visible;

    .input-container {
      position: relative;
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 2vmin;
      height: 5vmax;

      &__input {
        @extend %input;
        padding-right: 10vw;
        padding-block: 2vmin;
        color: $primaryColor;
        background-color: $bgColor;
        font-size: 3.3vmin;
        height: 4vmax;
        width: 100%;
        resize: none;
        overflow: hidden;
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;


        &::-webkit-scrollbar {
          display: none;

        }

        &::placeholder {
          color: $primaryColor;
        }

        &:focus {
          box-shadow: 0 0 2vmin .2vmin $secondaryColor;
          background-color: $textColor;
          color: $secondaryColor;

          &::placeholder {
            color: $secondaryColor;
          }

          &+.input-container__icon {
            color: $secondaryColor;

            &:hover {
              color: $bgColor;
            }
          }
        }
      }

      &__icon {
        position: absolute;
        right: 6vw;
        font-size: 6vmin;
        color: $primaryColor;
        transition-duration: .4s;
      }

      .emoji-picker-container {
        position: fixed;
        left: 50%;
        bottom: 10vmax;
        transform: translateX(-50%);
        z-index: 20;
      }
    }


    &__btn {
      @include btn($bgColor, $primaryColor, $secondaryColor);
      margin: 2vmin 4vmin 2vmin 2vmin;
      padding-block: 2.5vmin;
      height: 4vmax;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        margin-left: 2vmin;
      }
    }
  }
}

@media screen and (orientation: landscape) {
  .chat {
    .type-message {
      height: 7vmax;

      .input-container {

        &__input {
          padding-right: 7vw;
          width: 100%;
        }

        &__icon {
          right: 5vw;
        }

        .emoji-picker-container {
          bottom: -2vmax;
          transform: translateX(-40%) scale(0.7);
        }
      }

      &__btn {
        width: 20%;

      }
    }
  }
}

@media screen and (min-width: 540px) and (min-height: 720px) {
  .chat {
    .type-message {
      .input-container {

        &__input {
          height: 6vmax;
        }
      }

      &__btn {
        height: 6vmax;
      }
    }
  }
}

@media screen and (min-width: 720px) and (min-height: 540px) {
  .chat {
    .type-message {
      height: 9vmax;

      .input-container {

        &__input {
          height: 6vmax;
        }
      }

      &__btn {
        height: 6vmax;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .chat {
    .header {
      .avatar {

        img {
          width: 100px;
          height: 100px;
          border-radius: 5vmin;
          border: .5vmin solid $primaryColor;
        }
      }

      .info {
        .status {
          font-size: 4vmin;
        }
      }
    }

    .type-message {
      .input-container {
        height: 6vmax;

        &__input {
          height: 6vmax;
        }

        .emoji-picker-container {
          transform: translateX(-50%) scale(.7);
        }
      }

      &__btn {
        height: 6vmax;
      }
    }
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .chat {
    .header {
      .avatar {
        img {
          width: 60px;
          height: 60px;
          border-radius: 5vmin;
          border: .5vmin solid $primaryColor;
        }
      }

      .info {
        .identifier {
          margin-top: 1vmin;
        }

        .icons {
          .icon-wrapper {
            .icon {
              font-size: 7vmin;
            }
          }
        }
      }
    }

    .messages {
      .blocked-message {
        font-size: 4vmin;
      }
    }

    .type-message {
      .input-container {

        &__input {
          height: 4vmax;
        }
      }

      &__btn {
        height: 4vmax;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .chat {
    .header {
      padding: 0;
      box-shadow: none;
      height: 12vmin;

      .icon-back {
        display: none;
      }

      .info {

        .identifier {
          font-size: 5vmin;
          width: 45vw;
        }

        .status {
          margin-top: -1vmin;

          &__dot {
            min-width: 2vmin;
            min-height: 2vmin;
          }

          &__info {
            font-size: 3vmin;
          }
        }

        .icons {
          width: 40%;

          .icon-wrapper {
            display: flex;
            flex-direction: column;
            position: relative;

            &:hover {
              .text {
                transform: scale(1.1);
              }
            }

            .icon {
              font-size: 4vmin;
              margin: 0 1vmin;
            }

            .text {
              position: absolute;
              bottom: -7vmin;
              left: -3vmin;
              display: block;
              width: 15vmin;
              text-align: center;
              transform: scale(0);
              color: $textColor;
              background-color: $secondaryColor;
              padding: 1vmin;
              border-radius: 2vmin;
              transition-duration: .2s;
              z-index: 15;
            }
          }
        }
      }

      .avatar {
        width: 7vmin;
        margin: 2vmin 5vmin;

        img {
          width: 80px;
          height: 80px;
          border: .3vmin solid $primaryColor;
        }
      }

    }

    .messages {
      .blocked-message {
        text-align: center;
        color: lighten($bgColor, 20%);
        margin-bottom: 3vmin;
        font-size: 2vmin;
      }
    }

    .type-message {
      height: 9vh;
      box-shadow: none;

      .input-container {

        &__input {
          border-radius: 5vmin;
          border: none;
          font-size: 2vmin;
          padding-right: 5vw;
          box-shadow: 0 0 1vmin .1vmin darken($textColor, 20%);
          transition-duration: .4s;
          height: 6vh;
        }

        &__icon {
          font-size: 4vmin;
          transition-duration: .4s;
          right: 3vw;

          &:hover {
            cursor: pointer;
            color: $secondaryColor;
          }
        }

        .emoji-picker-container {
          bottom: 10vmin;
          transform: translateX(-20%);
        }
      }

      &__btn {
        height: 6vh;
        font-size: 2vmin;
        padding-block: 1.5vmin;
        border-radius: 5vmin;
        border: none;
        transition: all 0.2s ease-in-out;
        width: 20%;
        font-family: $decorativeFont;
        margin: 1vmin 5vmin;
      }
    }
  }
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
  .chat {
    .header {
      .identifier {
        font-size: 4vmin !important;
      }

      .info {
        .status {
          width: 30%;
        }

        .icons {
          width: 70%;

          .icon-wrapper {
            margin-top: 2vmin;
          }
        }
      }
    }

    .type-message {
      .input-container {
        &__input {
          padding-right: 7vw;
        }
      }
    }
  }
}

@media screen and (min-width: 1300px) {
  .chat .type-message .input-container {
    .emoji-picker-container {
      transform: translateX(30%);
    }
  }
}
