<section class="chat-settings">
  <a [routerLink]="['/access/chat', activeChatID]" routerLinkActive="active" class="icon-back">
    <fa-icon class="fa " [icon]="icons.back" />
  </a>
  <div class="clip">
    <div class="avatar">
      <img [src]="friendInfo.avatar" [alt]="friendInfo.name">
      <span class="total-messages">
        <fa-icon class="fa" [icon]="icons.messages" />
        {{friendInfo.messagesCounter}}
      </span>
    </div>
    <div class="user">
      {{friendInfo.name}} {{friendInfo.lastname}}
    </div>
    <div class="mail">
      {{friendInfo.mail}}
    </div>
    <div class="accessibility">
      <div (click)="handleMute()" class="option" [ngClass]="{'active': friendInfo.accessibility.mute}">
        <fa-icon class="fa" [icon]="icons.mute" />
        <span>Mute</span>
      </div>
      <div (click)="handleIgnore()" class="option" [ngClass]="{'active': friendInfo.accessibility.ignore}">
        <fa-icon class="fa" [icon]="icons.ignore" />
        <span>Ignore</span>
      </div>
      <div (click)="handleBlock()" class="option" [ngClass]="{'active': friendInfo.accessibility.block}">
        <fa-icon class="fa" [icon]="icons.block" />
        <span>Block</span>
      </div>
    </div>
  </div>
  <div class="settings">
    <div class="option">
      <div class="option__info">
        <fa-icon class="fa" [icon]="icons.pin"></fa-icon>
        <span>Set PIN</span>
      </div>
      <div class="pin-code">
        <input type="password" maxlength="1" [(ngModel)]="PIN[0]" name="pin1" #pin1 (input)="moveFocus(pin1, pin2)"
          (keypress)="validateInput($event)">
        <input type="password" maxlength="1" [(ngModel)]="PIN[1]" name="pin2" #pin2 (input)="moveFocus(pin2, pin3)"
          (keypress)="validateInput($event)">
        <input type="password" maxlength="1" [(ngModel)]="PIN[2]" name="pin3" #pin3 (input)="moveFocus(pin3, pin4)"
          (keypress)="validateInput($event)">
        <input type="password" maxlength="1" [(ngModel)]="PIN[3]" name="pin4" #pin4 (input)="moveFocus(pin4, null)"
          (keypress)="validateInput($event)">
      </div>
      <div class="btns">
        <button class="set" (click)="handleSetPIN()">Set</button>
        <button class="remove" (click)="handleRemovePIN()">Remove</button>
      </div>
    </div>


    <div class="option">
      <div class="option__info">
        <fa-icon class="fa" [icon]="icons.nickname" />
        <span>Set a nickname</span>
      </div>
      <input [(ngModel)]="nickname" class="nickname-input" type="text" placeholder="Enter Nickname...">
      <button class="nickname-btn" (click)="handleSetNickname()">Set</button>
    </div>
    <button (click)="handleDeleteMessages()" class="option remove">
      <span>Delete messages</span>
      <fa-icon class="fa" [icon]="icons.messages" />
    </button>
    <button (click)="handleRemoveFriend()" class="option remove">
      <span>Remove friend</span>
      <fa-icon class="fa" [icon]="icons.remove" />
    </button>
  </div>
  <app-modal [visible]="isModalVisible" (close)="isModalVisible = false">
    <app-delete-messages *ngIf="modalContent === ModalContent.DELETE_MESSAGES" [friendID]="this.activeChatID" />
    <app-remove-friend *ngIf="modalContent === ModalContent.REMOVE_FRIEND" [friendID]="this.activeChatID" />
  </app-modal>
  <footer>
    <app-footer [position]="Position.FIXED" />
  </footer>
</section>
