<section class="panel">
  <header class="header">
    <div class="avatar">
      <img [src]="loggedUser?.avatar" alt="Avatar">
    </div>
    <div class="info">
      <div class="identifier">
        {{loggedUser?.name}} {{loggedUser?.lastname}}
      </div>
      <div class="status">
        <div class="status__dot"></div>
        <div class="status__info">Online</div>
      </div>
    </div>
    <a routerLink="/access/settings" routerLinkActive="active" class="item">
      <fa-icon class="fa cog" [icon]="icons.cog"></fa-icon>
    </a>

  </header>
  <div class="messages">
    <div *ngIf="loggedUser?.friends?.length" class="no-messages">
      There is no messages yet!
    </div>
    <div (click)="showMessages(friend.id)" class="message" *ngFor="let friend of loggedUser?.friends">
      <app-message-row [person]="friend"></app-message-row>
    </div>
  </div>
  <footer class="footer">
    <ng-template [ngIf]="device === Device.DESKTOP">
      <div routerLink="/access" class="brand">
        <img class="img" src="./../../assets/img/PersonBridge-brand.png" alt="">
      </div>
    </ng-template>
    <ng-template [ngIf]="device === Device.MOBILE">
      <app-navbar [device]="device" />
    </ng-template>
  </footer>
</section>
