@import './../../../assets/scss/variables.scss';

.panel {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;

  .header {
    position: relative;
    display: flex;
    width: 100%;
    padding: 2vmin 1vmin;
    background-color: $blackColor;
    border-bottom: .3vmin solid $primaryColor;
    box-shadow: 0 0 2vmin .2vmin $primaryColor;
    z-index: 4;
    flex-shrink: 0;

    .cog {
      position: absolute;
      right: 4vmin;
      bottom: 4vmin;
      color: $primaryColor;
      font-size: 8vmin;
      transition-duration: .4s;

      &:hover {
        cursor: pointer;
        color: $secondaryColor;
        transform: scale(1.6);
      }
    }

    .avatar {
      width: 15vmin;
      margin: 2vmin 5vmin;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 120%;
        border-radius: 5vmin;
        border: .7vmin solid $primaryColor;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .identifier {
        color: $textColor;
        font-size: 8vmin;
      }

      .status {
        display: flex;
        align-items: center;

        &__dot {
          min-width: 4vmin;
          min-height: 4vmin;
          border-radius: 50%;
          background-color: #00ab17;
        }

        &__info {
          color: #00ab17;
          margin-left: 2vmin;
        }
      }
    }
  }

  .messages {
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;

    .message {
      width: 100%;
      padding: 2vmin 5vmin;
      padding-left: 0;
      transition-duration: .2s;
      border-top-right-radius: 2vmin;
      border-bottom-right-radius: 2vmin;

      &:nth-of-type(even) {
        background: lighten($dynamicStateColor, 10%);
      }

      &:hover {
        cursor: pointer;
        background-color: $secondaryColor;
      }
    }

    .no-messages {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 90%;
      font-size: 6vmin;
      text-align: center;
      padding: 2vmin;
      color: darken($bgColor, 10%);
      text-shadow: 1px 1px 3px $primaryColor,
        -1px -1px 3px $primaryColor,
        1px -1px 3px $primaryColor,
        -1px 1px 3px $primaryColor;

    }
  }

  .footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $blackColor;
    z-index: 4;
    border-top: .3vmin solid $primaryColor;
    box-shadow: 0 0 2vmin .2vmin $primaryColor;
    flex-shrink: 0;

    .brand {
      width: 100%;
      margin: 5vmin 2vmin 2vmin 2vmin;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        cursor: pointer;
      }

      img {
        width: 100%;
      }
    }
  }
}


// Dla tabletów (768px - 1023px)
@media screen and (min-width: 768px) {
  .panel {
    .header .info .status {
      &__info {
        font-size: 5vmin;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .panel {
    width: 30vw;
    border-right: .3vmin solid $primaryColor;

    .header {
      box-shadow: none;
      padding: 0;
      height: 12vmin;

      .cog {
        display: none;

        &:hover {
          cursor: pointer;
        }
      }

      .avatar {
        width: 25%;
        height: 100%;
        padding: 2vmin 0;
        margin: 0;

        img {
          width: 60%;
          border-radius: 1vmin;
          border: .3vmin solid $primaryColor;
        }
      }

      .info {
        margin-left: 2vmin;

        .identifier {
          font-size: 3vmin;
        }

        .status {

          &__dot {
            min-width: 2vmin;
            min-height: 2vmin;
          }

          &__info {
            font-size: 2vmin;

          }
        }
      }
    }

    .messages {
      .message {
        margin: 1vmin 0;

      }
    }

    .footer {
      height: 9vh;
      box-shadow: none;

      .brand {
        position: relative;
        margin: 2vmin 15% 2vmin 15%;
        width: 50%;
        text-align: center;
      }
    }
  }
}
