<section class="panel">
  <header class="header">
    <div class="avatar">
      <img [src]="loggedUser?.avatar" alt="Avatar">
    </div>
    <div class="info">
      <div class="identifier">
        {{loggedUser?.name}} {{loggedUser?.lastname}}
      </div>
      <div class="status" *ngIf="loggedUser?.status === UserStatus.ONLINE" (click)="toggleStatus(UserStatus.OFFLINE)">
        <div class="status__dot online-dot"></div>
        <div class="status__info online-info">Online</div>
        <div class="text">Change Status</div>
      </div>
      <div class="status" *ngIf="loggedUser?.status === UserStatus.OFFLINE" (click)="toggleStatus(UserStatus.ONLINE)">
        <div class="status__dot offline-dot"></div>
        <div class="status__info offline-info">Offline</div>
        <div class="text">Change Status</div>
      </div>
    </div>
    <a routerLink="/access/settings" routerLinkActive="active" class="item" aria-label="Link to settings">
      <fa-icon class="fa cog" [icon]="icons.cog"></fa-icon>
    </a>

  </header>
  <div class="messages">
    <div *ngIf="messageRows.length === 0" class="no-messages">
      There is no messages yet!
    </div>
    <div class="message" *ngFor="let messageRow of messageRows" (click)="showMessages(messageRow.id, messageRow.type)">
      <app-message-row [person]="messageRow" />
    </div>
  </div>
  <fa-icon (click)="openModal()" class="fa create-group-icon" [icon]="icons.group"></fa-icon>
  <span class="create-group-text">Create Group</span>
  <app-modal [visible]="isModalVisible" (close)="isModalVisible = false">
    <app-create-group />
  </app-modal>
  <footer class="footer">
    <!-- <button (click)="changeStatus()">change</button> -->
    <ng-template [ngIf]="device === Device.DESKTOP">
      <div routerLink="/access" class="brand">
        <img class="img" src="./../../assets/img/PersonBridge-brand.png" alt="">
      </div>
    </ng-template>
    <ng-template [ngIf]="device === Device.MOBILE">
      <app-navbar [device]="device" />
    </ng-template>
  </footer>
</section>
