<section class="settings">
  <h2 class="heading">
    <a routerLink="/access" routerLinkActive="active" class="icon-back">
      <fa-icon class="fa" [icon]="icons.back" />
    </a>
    <span @fadeHeadingIn>Settings</span>
    <fa-icon @fadeHeadingIn class="fa icon" [icon]="icons.section" />
  </h2>
  <div class="personal-info" @slideIn>
    <app-change-avatar />
    <div class="user">
      {{loggedUser!.name}} {{loggedUser!.lastname}}
    </div>
    <div class="mail">
      {{loggedUser!.mail}}
    </div>
  </div>
  <div class="zones" @slideIn>
    <article class="zone zone--edit">
      <h3 class="zone__title">Edit Zone:</h3>
      <div class="edit" (click)="editName()">
        <fa-icon class="fa icon" [icon]="icons.edit.name" />
        <span class="text">Edit name</span>
      </div>
      <div class="edit" (click)="editLastname()">
        <fa-icon class="fa icon" [icon]="icons.edit.lastname" />
        <span class="text">Edit lastname</span>
      </div>
      <div class="edit" (click)="editMail()">
        <fa-icon class="fa icon" [icon]="icons.edit.mail" />
        <span class="text">Edit mail</span>
      </div>
      <div class="edit" (click)="editPassword()">
        <fa-icon class="fa icon" [icon]="icons.edit.password" />
        <span class="text">Edit password</span>
      </div>
    </article>
    <!-- <article class="zone zone--biometric">
      <h3 class="zone__title">Biometric Zone:</h3>
      <div class="biometrics">
        <div class="biometric" (click)="setFingerprint()">
          <fa-icon class="fa icon" [icon]="icons.biometric.fingerprint" />
          <span class="text">Fingerprint</span>
        </div>
        <div class="biometric" (click)="setFace()">
          <fa-icon class="fa icon" [icon]="icons.biometric.face" />
          <span class="text">Face</span>
        </div>
        <div class="biometric" (click)="setVoice()">
          <fa-icon class="fa icon" [icon]="icons.biometric.voice" />
          <span class="text">Voice</span>
        </div>
      </div>
    </article> -->
    <article class="zone zone--danger">
      <h3 class="zone__title">Danger Zone:</h3>
      <button (click)="logout()" class="option option--primary">
        <span>Log out</span>
        <fa-icon class="fa icon" [icon]="icons.logout" />
      </button>
      <button (click)="deleteMessages()" class="option option--remove">
        <span>Delete messages</span>
        <fa-icon class="fa icon" [icon]="icons.messages" />
      </button>
      <button (click)="deleteAccount()" class="option option--remove">
        <span>Delete account</span>
        <fa-icon class="fa icon" [icon]="icons.remove" />
      </button>
    </article>
  </div>
  <app-modal [visible]="isModalVisible" (close)="isModalVisible = false">
    <app-edit-name *ngIf="modalContent === ModalContent.EDIT_NAME" />
    <app-edit-lastname *ngIf="modalContent === ModalContent.EDIT_LASTNAME" />
    <app-edit-mail *ngIf="modalContent === ModalContent.EDIT_MAIL" />
    <app-edit-password *ngIf="modalContent === ModalContent.EDIT_PASSWORD" />
    <app-fingerprint *ngIf="modalContent === ModalContent.SET_FINGERPRINT" />
    <app-face *ngIf="modalContent === ModalContent.SET_FACE" />
    <app-voice *ngIf="modalContent === ModalContent.SET_VOICE" />
    <app-delete-messages *ngIf="modalContent === ModalContent.DELETE_MESSAGES" />
    <app-delete-account *ngIf="modalContent === ModalContent.DELETE_ACCOUNT" />
  </app-modal>
  <app-footer />
</section>
