<section *ngIf="!isLoaderVisible" class="access-page">
  <app-panel *ngIf="isMobile" [device]="device" @fadeIn></app-panel>
  <div class="outlet">
    <router-outlet></router-outlet>
    <div class="welcome" [ngClass]="{'hidden': !isAccessVisible()}" @slideIn>
      <h3>Welcome to</h3>
      <div class="brand">
        <img class="img" src="./../../assets/img/PersonBridge-brand.png" alt="PersonBridge Brand">
      </div>
      <span>Nice to see you!</span>
    </div>
    <div class="main-panel" [ngClass]="{'hidden': !isAccessVisible()}">
      <div routerLink="/access/people" class="book" @fadeInBook1>
        <div class="description">
          <h4>People</h4>
          <p>
            Check status of your friends. Manage your friend requests, blocked people and groups.
          </p>
        </div>
        <div class="cover">
          <h4 class="title">People</h4>
          <fa-icon class="fa icon" [icon]="icons.people"></fa-icon>
        </div>
      </div>
      <div routerLink="/access/explore" class="book" @fadeInBook2>
        <div class="description">
          <h4>Explore</h4>
          <p>
            Manage your network, find people and send or cancel friend requests.
          </p>
        </div>
        <div class="cover">
          <h4 class="title">Explore</h4>
          <fa-icon class="fa icon" [icon]="icons.explore"></fa-icon>
        </div>
      </div>
      <!-- <div routerLink="/access/calls" class="book" @fadeInBook3>
        <div class="description">
          <h4>Calls</h4>
          <p>
            Calls description here.
          </p>
        </div>
        <div class="cover">
          <h4 class="title">Calls</h4>
          <fa-icon class="fa icon" [icon]="icons.calls"></fa-icon>
        </div>
      </div> -->
      <div routerLink="/access/chatbots" class="book" @fadeInBook3>
        <div class="description">
          <h4>Chatbots</h4>
          <p>
            Browse and chat with built-in chatbots.
          </p>
        </div>
        <div class="cover">
          <h4 class="title">Chatbots</h4>
          <fa-icon class="fa icon" [icon]="icons.chatbots"></fa-icon>
        </div>
      </div>
    </div>
  </div>
  <app-navbar @fadeIn></app-navbar>
</section>
<app-loader *ngIf="isLoaderVisible"></app-loader>
<img class="no-display" src="./../../assets/img/Blank-Avatar.jpg" alt="Avatar">
