@import './../../assets/scss/variables.scss';


// Dla tabletów (768px - 1023px)
@media screen and (min-width: 768px) {}

// Dla ekranów desktopowych (min-width: 1024px)
@media screen and (min-width: 1024px) {
  .access-page {
    display: flex;

    .outlet {
      width: 65vw;
      background-color: $dynamicStateColor;
    }
  }
}