<section class="access-page">
  <app-panel *ngIf="isMobile" [device]="device" />
  <div class="outlet">
    <router-outlet />
  </div>
  <app-navbar />
  <!-- <app-modal [visible]="isModalVisible" (close)="isModalVisible = false"> -->
  <!-- <app-someones-audio /> -->
  <!-- <app-your-audio /> -->
  <!-- <app-someones-video /> -->
  <!-- <app-your-video /> -->
  <!-- <app-pin /> -->
  <!-- </app-modal> -->
</section>

<!-- gJKkzxRt1toy7TCr -->
<!-- mongodb+srv://WebKing:<password>@cluster0.niyeq92.mongodb.net/ -->