<!-- <ng-container *ngIf="isInitialized"> -->
<section class="chat" *ngIf="!noMessages; else noMessagesTemplate">
  <header class="header">
    <a routerLink="/access" routerLinkActive="active" class="icon-back">
      <fa-icon class="fa" [icon]="icons.back"></fa-icon>
    </a>
    <div class="avatar" @fadeIn>
      <img [src]="friendChatData.avatar" alt="Avatar" (error)="onImageError($event)">
    </div>
    <div class="info" @fadeIn>
      <div class="identifier">
        <span *ngIf="friendChatData.settings.nickname === friendChatData.name">{{friendChatData.name}}
          {{friendChatData.lastname}}</span>
        <span
          *ngIf="friendChatData.settings.nickname !== friendChatData.name">{{friendChatData.settings.nickname}}</span>
      </div>
      <div class="status">
        <div class="status__dot"
          [ngClass]="{'status__dot--online': friendChatData.status === UserStatus.ONLINE, 'status__dot--offline': friendChatData.status === UserStatus.OFFLINE}">
        </div>
        <div class="status__info"
          [ngClass]="{'status__info--online': friendChatData.status === UserStatus.ONLINE, 'status__info--offline': friendChatData.status === UserStatus.OFFLINE}">
          {{ friendChatData.status }}
        </div>
      </div>
      <div class="icons">
        <div class="icon-wrapper hidden" (click)="handleAudioCall()">
          <fa-icon class="fa icon" [icon]="icons.audio"></fa-icon>
          <span class="text">Audio Call</span>
        </div>
        <div class="icon-wrapper hidden" (click)="handleVideoCall()">
          <fa-icon class="fa icon" [icon]="icons.video"></fa-icon>
          <span class="text">Video Call</span>
        </div>
        <a class="icon-wrapper" (click)="navigateToSettings()">
          <fa-icon class="fa icon" [icon]="icons.settings"></fa-icon>
          <span class="text">Settings</span>
        </a>
      </div>
    </div>
  </header>
  <div #messagesContainer class="messages">
    <div *ngIf="messages.length === 0 && isInitialized" class="start-chat">
      Send a message to start chatting.
    </div>
    <div *ngIf="friendChatData.settings.PIN !== 0 && !accessGranted" class="pin">
      <app-user-pin [correctPIN]="friendChatData.settings.PIN" [yourID]="yourID"
        (accessGranted)="onAccessGranted($event)">
      </app-user-pin>
    </div>
    <div *ngIf="friendChatData.settings.PIN === 0 || accessGranted">
      <button *ngIf="messages.length >= 20" class="load-more-messages" (click)="loadMoreMessages()">Load More</button>
      <div #messagesContainer class="message" *ngFor="let message of messages">
        <app-message-box @messageAnimation [friendData]="friendChatData" [message]="message"
          [chatType]="ChatType.USER_CHAT">
        </app-message-box>
      </div>
    </div>
  </div>
  <div class="type-message" @fadeIn>
    <div class="input-container">
      <textarea [(ngModel)]="messageContent" name="messageContent" class="input-container__input"
        placeholder="Type your message..." (keydown)="handleKeyDown($event)"></textarea>
      <fa-icon class="input-container__icon" [icon]="icons.emoticons" (click)="toggleEmojiPicker()"></fa-icon>
      <emoji-mart class="emoji-picker-container" *ngIf="showEmojiPicker" (emojiClick)="addEmoji($event)" set="google">
      </emoji-mart>
    </div>
    <button (click)="sendMessage()" class="type-message__btn">
      Send
      <fa-icon class="fa icon" [icon]="icons.send"></fa-icon>
    </button>
  </div>
</section>
<!-- </ng-container> -->
<ng-template #noMessagesTemplate>
  <app-no-messages></app-no-messages>
</ng-template>
