@import './../../../../assets/scss/variables.scss';

.message {
  display: flex;
  align-items: center;
  justify-content: stretch;
  position: relative;
  width: 100%;

  &.unread {
    .icon {
      color: $primaryColor;
      width: 10px;
    }

    .last-message {
      color: $bgColor;
      text-shadow: 1px 1px 1px $primaryColor,
        -1px -1px 1px $primaryColor,
        1px -1px 1px $primaryColor,
        -1px 1px 1px $primaryColor;
      font-family: $decorativeFont;
    }
  }

  &__avatar {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      border: .7vmin solid $primaryColor;
    }
  }

  &__person {
    color: $primaryColor;
    font-size: 6vmin;
  }

  &__status {
    display: flex;
    align-items: center;
    font-size: 4vmin;
    margin: 1vmin 0;

    .status {
      &__dot {
        min-width: 4vmin;
        min-height: 4vmin;
        border-radius: 50%;
      }

      &__info {
        margin-left: 2vmin;
      }
    }
  }

  .online-dot {
    background-color: $onlineColor;
  }

  .online-info {
    color: $onlineColor;
  }

  .offline-dot {
    background-color: $offlineColor;
  }

  .offline-info {
    color: $offlineColor;
  }

  .info-wrapper {
    display: flex;
    flex-direction: column;
  }

  .last-message {
    color: $textColor;
    width: 60vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    // display: flex;
    // justify-content: space-between;
  }

  .date {
    color: lighten($bgColor, 20%);
    align-content: flex-end;
    position: absolute;
    right: 0;
  }
}

@media screen and (orientation: landscape) {
  .message {
    &__avatar {
      img {
        width: 80px;
        height: 80px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
  .message {
    &__avatar {
      width: 30%;
      margin: 0;

      img {
        width: 120px;
        height: 120px;
        border: .5vmin solid $primaryColor;
      }
    }

    .last-message {
      font-size: 4vmin;
    }

    .date {
      font-size: 4vmin;
    }
  }
}



@media screen and (min-width: 1024px) {
  .message {
    display: flex;
    align-items: center;
    justify-content: stretch;
    position: relative;

    &.read {
      .message__person {
        color: red;
      }
    }

    &__avatar {
      width: 100% / 3;

      img {
        width: 85px;
        height: 85px;
        border: .3vmin solid $primaryColor;
      }
    }

    &__person {

      font-size: 2.5vmin;
    }

    &__status {

      .status {
        &__dot {
          min-width: 2vmin;
          min-height: 2vmin;
        }

        &__info {
          font-size: 2vmin;
        }
      }
    }

    .info-wrapper {
      padding-left: 2vmin;
      border-left: .3vmin solid $primaryColor;
    }

    .last-message {
      font-size: 2vmin;
      width: 150px;
    }

    .date {
      font-size: 2vmin;
    }
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .message {
    &__avatar {
      width: 30%;
      margin: 0;

      img {
        width: 70px;
        height: 70px;
      }
    }
  }
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
  .message {
    &__avatar {
      width: 30%;
      margin: 0;

      img {
        width: 60px;
        height: 60px;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .message {
    &__avatar {
      margin: 0 1vmin;

      img {
        width: 75px;
        height: 75px;
      }
    }

    .last-message {
      width: 250px;
    }
  }
}

@media screen and (min-width: 1300px) {
  .message {
    &__avatar {
      margin: 0;
    }

    .last-message {
      width: 250px;
    }
  }
}
