<div @messageRowAnimation class="message" [ngClass]="{ 'unread' : isUnread && !messageRow.accessibility?.mute }">
  <div class="message__avatar">
    <img [src]="messageRow.avatar" [alt]="messageRow.id" (error)="onImageError($event)">
  </div>
  <div class="message__user">
    <div class="person">
      <span *ngIf="messageRow.name === messageRow.settings?.nickname">{{ messageRow.name }}
        {{ messageRow.lastname}}</span>
      <span *ngIf="messageRow.name !== messageRow.settings?.nickname">{{ messageRow.settings?.nickname }}</span>
      <span *ngIf="!messageRow.lastname">{{ messageRow.name }}</span>
    </div>
    <div *ngIf="messageRow.type === ChatType.USER_CHAT">
      <div class="status" *ngIf="messageRow.status === UserStatus.ONLINE">
        <div class="status__dot online-dot"></div>
        <div class="status__info online-info">Online</div>
      </div>
      <div class="status" *ngIf="messageRow.status === UserStatus.OFFLINE">
        <div class="status__dot offline-dot"></div>
        <div class="status__info offline-info">Offline</div>
      </div>
    </div>
    <div *ngIf="messageRow.type === ChatType.GROUP_CHAT">
      <div class="status" *ngIf="!isAnyParticipantOnline()">
        <div class="status__dot offline-dot"></div>
        <div class="status__info offline-info">Offline</div>
      </div>
      <div class="status" *ngIf="isAnyParticipantOnline()">
        <div class="status__dot online-dot"></div>
        <div class="status__info online-info">Online - {{ onlineParticipantsCount }}</div>
      </div>
    </div>
    <div class="last-message">
      <span *ngIf="messageRow.lastMessage.sender === messageRow.id">
        {{ messageRow.name }}: {{ messageRow.lastMessage.content }}
      </span>
      <span *ngIf="messageRow.lastMessage.sender === yourID">
        You: {{ messageRow.lastMessage.content }}
      </span>
      <span
        *ngIf="messageRow.lastMessage.sender !== messageRow.id && messageRow.lastMessage.sender !== yourID && messageRow.type === ChatType.GROUP_CHAT; else otherMessage">
        {{ getParticipantName(messageRow.lastMessage.sender) }} {{ messageRow.lastMessage.content }}
      </span>
      <ng-template #otherMessage>
        <span *ngIf="messageRow.lastMessage.sender !== messageRow.id && messageRow.lastMessage.sender !== yourID">
          {{ messageRow.lastMessage.content }}
        </span>
      </ng-template>
    </div>
    <div class="message__info">
      <div class="accessibility">
        <fa-icon class="fa icon hidden" [icon]="icons.mute"></fa-icon>
        <fa-icon *ngIf="messageRow.accessibility?.mute" class="fa icon" [icon]="icons.mute"></fa-icon>
        <fa-icon *ngIf="messageRow.accessibility?.ignore" class="fa icon" [icon]="icons.ignore"></fa-icon>
        <fa-icon *ngIf="messageRow.accessibility?.block" class="fa icon" [icon]="icons.block"></fa-icon>
      </div>
      <div class="date">{{ formattedDate }}</div>
      <div *ngIf="messageRow.type === ChatType.USER_CHAT" class="status">
        <fa-icon class="fa icon" [icon]="getIcon()"></fa-icon>
      </div>
    </div>
  </div>
</div>