<section class="explore">
  <h2 class="heading">
    <a routerLink="/access" routerLinkActive="active" class="icon-back">
      <fa-icon class="fa" [icon]="icons.back"></fa-icon>
    </a>
    <span>Explore</span>
    <fa-icon class="fa icon" [icon]="icons.section"></fa-icon>
  </h2>

  <div class="find" *ngIf="showResults" [@fadeIn]>
    <h3>Find your beloved person...</h3>
    <div class="searchbar">
      <div class="input-container">
        <input [(ngModel)]="searchInputValue" type="search" class="input-container__input"
          placeholder="Search for a person...">
        <fa-icon class="input-container__icon" [icon]="icons.search"></fa-icon>
      </div>
      <button (click)="handleFindPeople()" class="searchbar__btn">Search</button>
    </div>
    <div class="results">
      <span class="results__count">Results: {{results.length}} {{results.length === 1 ? 'person' : ' people'}}
        found</span>
      <div *ngIf="results.length === 0" class="no-result">
        No results found!
      </div>
      <div *ngIf="results.length > 0" class="result">
        <app-person-row *ngFor="let result of results" [person]="result"></app-person-row>
      </div>
      <button *ngIf="results.length >= 1" (click)="loadMoreResults()" class="load-more-messages">Load More</button>
      <div class="comma"></div>
    </div>
  </div>
  <div class="request" *ngIf="showRequests" [@fadeIn]>
    <h3 class="request__count">{{requestCounter}} {{requestCounter === 1 ? 'request' : 'requests'}} sent</h3>
    <app-person-row *ngFor="let request of requests" [person]="request" [requestCounter]="requestCounter"
      (requestCounterChange)="updateRequestCounter($event)">
    </app-person-row>
    <div *ngIf="requests.length === 0" class="no-result">
      No request found!
    </div>
  </div>
  <div class="select-content">
    <div (click)="showResults = true; showRequests = false;" [class.active]="showResults">
      <fa-icon class="icon" [icon]="icons.search"></fa-icon>
      <span>Find</span>
    </div>
    <div (click)="showResults = false; showRequests = true; handleGetSentRequest()" [class.active]="showRequests">
      <fa-icon class="icon" [icon]="icons.request"></fa-icon>
      <span>Requests</span>
    </div>
  </div>
</section>
