<div class="result">
  <div class="result__avatar">
    <img [src]="person.avatar" [alt]="person.name" (error)="onImageError($event)">
  </div>
  <div class=" result__person">
    <span class="name">
      {{ person.name }} {{ person.lastname }}
    </span>
    <span class="mail">
      {{ person.mail }}
    </span>
    <ng-container *ngIf="yourRequests.includes(person.id)">
      <button class="sent" (click)="handleCancelRequest({name:person.name, lastname: person.lastname})">
        Request Sent
        <fa-icon class="fa icon" [icon]="icons.sent"></fa-icon>
      </button>
    </ng-container>
    <ng-container *ngIf="!yourRequests.includes(person.id)">
      <button (click)="handleSendRequest({name:person.name, lastname: person.lastname})" class="request">
        Send Request
        <fa-icon class="fa icon" [icon]="icons.request"></fa-icon>
      </button>
    </ng-container>
  </div>
</div>