<div routerLink="/access/chat" class="result">
  <div class="result__avatar">
    <img [src]="avatarSrc" [alt]="person">
  </div>
  <div class="result__person">
    {{ person }}
    <ng-container *ngIf="!innerRequestSent; else sent">
      <button (click)="handleRequest()" class="request">
        Send Request
        <fa-icon class="fa icon" [icon]="icons.request"></fa-icon>
      </button>
    </ng-container>
    <ng-template #sent>
      <button class="sent">
        Request Sent
        <fa-icon class="fa icon" [icon]="icons.sent"></fa-icon>
      </button>
    </ng-template>

  </div>
</div>