<section class="chat">
  <header class="header">
    <a routerLink="/access" routerLinkActive="active" class="icon-back">
      <fa-icon class="fa" [icon]="icons.back" />
    </a>
    <div class="avatar">
      <img [src]="activeFriendAvatar" alt="Avatar">
    </div>
    <div class="info">
      <div class="identifier">
        {{activeFriendName}} {{activeFriendLastname}}
      </div>
      <div class="status">
        <div class="status__dot"></div>
        <div class="status__info">Online</div>
      </div>
      <div class="icons">
        <div class="icon-wrapper">
          <fa-icon class="fa icon" [icon]="icons.audio" />
          <span class="text">Audio Call</span>
        </div>
        <div class="icon-wrapper">
          <fa-icon class="fa icon" [icon]="icons.video" />
          <span class="text">Video Call</span>
        </div>
        <a [routerLink]="['/access/chat', activeFriendID, 'settings']" class="icon-wrapper">
          <fa-icon class="fa icon" [icon]="icons.settings" />
          <span class="text">Settings</span>
        </a>
      </div>
    </div>
  </header>
  <div class="messages">
    <div class="message" *ngFor="let message of activeFriendMessages">
      <app-message-box [name]="activeFriendName" [avatar]="activeFriendAvatar"
        [message]="message" />
    </div>
    <!-- <div class="blocked-message">Marshall blocked you</div> -->
  </div>
  <div class="type-message">
    <div class="input-container">
      <input [(ngModel)]="message" (ngModelChange)="setMessage()" type="text" class="input-container__input" placeholder="Type your message...">
      <fa-icon class="input-container__icon" [icon]="icons.emoticons" />
    </div>
    <button (click)="sendMessage()"class="type-message__btn">
      Send
      <fa-icon class="fa icon" [icon]="icons.send"></fa-icon>
    </button>
  </div>
</section>