@import './../../../assets/scss/variables.scss';
@import './../../../assets/scss/placeholders.scss';
@import './../../../assets/scss/mixins.scss';

.chat {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  .header {
    position: relative;
    display: flex;
    width: 100%;
    padding: 2vmin 1vmin;
    background-color: $blackColor;
    border-bottom: .3vmin solid $primaryColor;
    box-shadow: 0 0 2vmin .2vmin $primaryColor;
    z-index: 4;
    flex-shrink: 0;

    .icon-back {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $primaryColor;
      padding: 2vmin;
      font-size: 8vmin;
      transition-duration: .4s;
      margin-left: 2vmin;

      &:hover {
        cursor: pointer;
        color: $secondaryColor;
        transform: scale(1.2);
      }
    }

    .avatar {
      width: 15vmin;
      margin: 2vmin 5vmin;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 120%;
        border-radius: 5vmin;
        border: .7vmin solid $primaryColor;
      }
    }

    .info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;

      .identifier {
        color: $textColor;
        font-size: 6vmin;
        width: 100%;
      }

      .status {
        display: flex;
        align-items: center;
        width: 50%;
        margin-top: -4vmin;

        &__dot {
          min-width: 4vmin;
          min-height: 4vmin;
          border-radius: 50%;

          &--online {
            background-color: $onlineColor;
          }

          &--offline {
            background-color: $offlineColor;
          }
        }

        &__info {
          margin-left: 2vmin;

          &--online {
            color: $onlineColor;
          }

          &--offline {
            color: $offlineColor;
          }
        }
      }

      .icons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;
        margin-top: -4vmin;

        .icon-wrapper {
          display: flex;
          flex-direction: column;
          position: relative;

          .icon {
            color: $primaryColor;
            font-size: 6vmin;
            transition-duration: .4s;
            width: 7vmin;
            text-align: center;

            &:hover {
              cursor: pointer;
              color: $secondaryColor;
              transform: scale(1.2);
            }
          }

          .text {
            display: none;
          }
        }
      }
    }
  }

  .messages {
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;

    .start-chat {
      color: $textColor;
      text-align: center;
      font-size: 4vmin;
      margin: 6vmin;
    }

    .blocked-message {
      text-align: center;
      color: lighten($bgColor, 20%);
      margin-bottom: 3vmin;
    }
  }

  .type-message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2vmin;
    background-color: $blackColor;
    border-top: .3vmin solid $primaryColor;
    box-shadow: 0 0 2vmin .2vmin $primaryColor;
    padding: 2vmin 0;

    .input-container {
      position: relative;
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 2vmin;
      height: 5vmax;

      &__input {
        @extend %input;
        padding-right: 10vw;
        padding-block: 3vmin;
        color: $primaryColor;
        background-color: $bgColor;
        font-size: 3.5vmin;
        height: 5vmax;

        &::placeholder {
          color: $primaryColor;
        }

        &:focus {
          box-shadow: 0 0 2vmin .2vmin $secondaryColor;
          background-color: $textColor;
          color: $secondaryColor;

          &::placeholder {
            color: $secondaryColor;
          }

          &+.input-container__icon {
            color: $secondaryColor;

            &:hover {
              color: $bgColor;
            }
          }
        }
      }

      &__icon {
        position: absolute;
        right: 6vw;
        font-size: 6vmin;
        color: $primaryColor;
        transition-duration: .4s
      }
    }

    &__btn {
      @include btn($bgColor, $primaryColor, $secondaryColor);
      margin: 0 2vmin;
      padding-block: 2.5vmin;
      height: 5vmax;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        margin-left: 2vmin;
      }
    }
  }
}

@media screen and (orientation: landscape) {
  .chat {
    .type-message {
      .input-container {
        // height: 5vmax;

        &__input {
          padding-right: 7vw;
          width: 100%;
          // height: 5vmax;
        }

        &__icon {
          right: 5vw;
        }
      }

      &__btn {
        width: 20%;
        // height: 5vmax;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .chat {
    .header {
      .info {
        .status {
          font-size: 4vmin;
        }
      }
    }

    .type-message {
      .input-container {
        height: 6vmax;

        &__input {
          height: 6vmax;
        }
      }

      &__btn {
        height: 6vmax;
      }
    }
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .chat {
    .header {
      .info {
        .identifier {
          margin-top: 1vmin;
        }

        .icons {
          .icon-wrapper {
            .icon {
              font-size: 7vmin;
            }
          }
        }
      }
    }

    .messages {
      .blocked-message {
        font-size: 4vmin;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .chat {
    .header {
      padding: 0;
      box-shadow: none;
      height: 12vmin;

      .icon-back {
        display: none;
      }

      .info {
        .icons {
          width: 40%;

          .icon-wrapper {
            display: flex;
            flex-direction: column;
            position: relative;

            &:hover {
              .text {
                transform: scale(1.1);
              }
            }

            .icon {
              font-size: 4vmin;
              margin: 0 1vmin;
            }

            .text {
              position: absolute;
              bottom: -7vmin;
              left: -3vmin;
              display: inline-block;
              display: block;
              width: 15vmin;
              text-align: center;
              transform: scale(0);
              color: $textColor;
              background-color: $secondaryColor;
              padding: 1vmin;
              border-radius: 2vmin;
              transition-duration: .2s;
              z-index: 15;
            }
          }
        }
      }

      .avatar {
        width: 7vmin;
        margin: 2vmin 5vmin;

        img {
          border: .3vmin solid $primaryColor;
        }
      }

      .info {
        .identifier {
          font-size: 5vmin;
        }

        .status {
          margin-top: -1vmin;

          &__dot {
            min-width: 2vmin;
            min-height: 2vmin;
          }

          &__info {
            font-size: 3vmin;
          }
        }
      }
    }

    .messages {
      .blocked-message {
        text-align: center;
        color: lighten($bgColor, 20%);
        margin-bottom: 3vmin;
        font-size: 2vmin;
      }
    }

    .type-message {
      height: 9vh;
      box-shadow: none;

      .input-container {

        &__input {
          border-radius: 5vmin;
          border: none;
          font-size: 2vmin;
          padding-right: 5vw;
          box-shadow: 0 0 1vmin .1vmin darken($textColor, 20%);
          transition-duration: .4s;
          height: 6vh;
        }

        &__icon {
          font-size: 4vmin;
          transition-duration: .4s;
          right: 3vw;

          &:hover {
            cursor: pointer;
            color: $secondaryColor;
          }
        }
      }

      &__btn {
        height: 6vh;
        font-size: 3vmin;
        padding-block: 1.5vmin;
        border-radius: 5vmin;
        border: none;
        transition: all 0.2s ease-in-out;
        width: 20%;
        font-family: $decorativeFont;
        margin: 1vmin 5vmin;
      }
    }
  }
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
  .chat {
    .header {
      .identifier {
        font-size: 4vmin !important;
      }

      .info {
        .status {
          width: 30%;
        }

        .icons {
          width: 70%;

          .icon-wrapper {
            margin-top: 2vmin;
          }
        }
      }
    }

    .type-message {
      .input-container {
        &__input {
          padding-right: 7vw;
        }
      }
    }
  }
}

.no-messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  padding: 4vmin;

  .brand {
    z-index: 10;

    img {
      width: 100%;
      max-width: 300px;
    }
  }

  strong {
    font-weight: bold;
    color: $secondaryColor;
    font-size: 9vmin;
    z-index: 10;
  }

  h3 {
    color: $textColor;
    font-size: 11vmin;
    z-index: 10;
  }

  p {
    color: $secondaryColor;
    font-size: 6vmin;
    z-index: 10;
  }

  .emoticon {
    position: fixed;
    bottom: 0;
    right: 2vmin;

    img {
      width: 25vmin;
      height: 25vmin;
    }
  }

  button {
    @include btn($bgColor, $primaryColor, $secondaryColor);
    width: 80%;
    margin-top: 5vmin;
  }
}

@media (orientation: landscape) {
  .no-messages button {
    width: 50%;
    margin-top: 5vmin;
  }
}

@media (min-width: 1024px) {

  .no-messages {
    width: 70%;

    .info {
      padding: 2vmin;
      border-radius: 5vmin;
      background-color: #0000007e;
      z-index: 10;

      .brand {
        margin: 4vmin;
        z-index: 10;

        img {
          width: 150%;
          margin: 0 10%;
        }
      }

      strong {
        font-weight: bold;
        color: $secondaryColor;
        font-size: 10vmin;
        margin-top: -12vmin;
      }

      h3 {
        color: $textColor;
        font-size: 12vmin;
      }

      p {
        color: $secondaryColor;
        font-size: 6vmin;
      }

      button {
        margin: 2vmin auto;
      }
    }

    .emoticon {
      position: fixed;
      bottom: -5vmin;
      right: 5vmin;

      img {
        width: 120%;
        height: 120%;
      }
    }
  }
}
