@import './../../../../../assets/scss/variables.scss';
@import './../../../../../assets/scss/placeholders.scss';
@import './../../../../../assets/scss/mixins.scss';

.chat-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;

  .icon-back {
    position: fixed;
    left: 2vmin;
    top: 2vmin;

    color: $primaryColor;
    padding: 2vmin;
    font-size: 8vmin;
    transition-duration: .4s;
    margin-left: 2vmin;
    z-index: 20;

    &:hover {
      cursor: pointer;
      color: $secondaryColor;
      transform: scale(1.2);
    }
  }

  .clip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 130%;
    clip-path: ellipse(70% 50% at 50% 50%);
    background-color: $dynamicStateColor;
    margin: 5vmin;
    padding-top: 20vmin;
    margin-top: -12vmin;

    .avatar {
      position: relative;
      width: 40vmin;
      height: 40vmin;
      margin: 5vmin auto;
      transition-duration: .4s;

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }

      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        border: .7vmin solid $primaryColor;
      }

      &__change {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: $textColor;
        font-size: 4vmin;
        opacity: 0;
        background-color: $dynamicStateColor;
        padding: 1vmin;
        border-radius: 50%;
        transition-duration: .4s;
        text-align: center;
      }

      &:hover {
        .avatar__img {
          filter: blur(5px);
        }

        .avatar__change {
          opacity: 1;
        }
      }

      .total-messages {
        position: absolute;
        right: -4vmin;
        top: 0;
        background-color: $supportColor;
        color: $textColor;
        font-size: 4vmin;
        border-radius: 4vmin;
        padding: 1vmin 2vmin;
      }
    }

    .group {
      font-size: 8vmin;
      color: $textColor;
      text-align: center;

      button {
        @include btn($bgColor, $primaryColor, $secondaryColor);
        width: 100%;
        text-wrap: nowrap;
        font-size: 2vmin;
        margin: 2vmin 0;
      }
    }

    .accessibility {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 10vmin;

      .option {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $bgColor;
        border: .7vmin solid $primaryColor;
        color: $primaryColor;
        border-radius: 25%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        padding: 2vmin;
        width: 25vmin;
        height: 25vmin;
        margin: 2vmin;
        transition-duration: .4s;

        &:active {
          transform: scale(.9);
          border-color: $secondaryColor;
          color: $secondaryColor;
        }

        .fa {
          font-size: 6vmin;
        }

        span {
          margin-top: 2vmin;
          font-size: 4vmin;
        }

        &:hover {
          cursor: pointer;
          border-color: $secondaryColor;
          color: $secondaryColor;
        }
      }
    }

    .administrator {
      display: flex;
      flex-direction: column;

      span {
        margin-top: 2vmin;
        display: block;
        text-align: center;
        font-size: 4vmin;
        color: $primaryColor;
      }

      &__identifier {
        color: $secondaryColor;
        font-size: 6vmin;
      }

      &__avatar {
        width: 70px;
        height: 70px;
        margin-left: 3vmin;
        order: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2vmin auto;

        img {
          margin-top: 2vmin;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: .7vmin solid $secondaryColor;
        }
      }
    }
  }

  .participants {
    h3 {
      color: $primaryColor;
      font-size: 8vmin;
      text-align: center;
      margin: 2vmin 0 6vmin 0;
    }

    .cards {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .card {
        @include card($primaryColor);

        button {
          color: $bgColor;

          &:hover {
            background-color: $bgColor;
            border: 2px solid $primaryColor;
            color: $primaryColor;
          }
        }

        .messages-count {
          display: block;
          text-align: center;
          color: $secondaryColor;
        }
      }
    }
  }

  .settings {
    width: 100%;
    color: $primaryColor;
    text-align: center;
    font-size: 6vmin;
    margin-top: 4vmin;

    .option {
      position: relative;
      width: 80%;
      background-color: $dynamicStateColor;
      padding: 2vmin;
      margin: 6vmin auto;
      border-radius: 2vmin;

      &__info {
        width: 60%;
        margin: 4vmin auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .fa {
          position: absolute;
          top: -4vmin;
          left: -4vmin;
          padding: 2vmin;
          margin-right: 4vmin;
          border-top-left-radius: 50%;
          border-bottom-right-radius: 50%;
          border: .7vmin solid $primaryColor;
          font-size: 4vmin;
          background-color: $dynamicStateColor;
        }
      }
    }

    .primary {
      background: linear-gradient(45deg, $primaryColor 0%, darken($primaryColor, 10%) 100%);
      color: $blackColor;

      &:hover {
        cursor: pointer;
        color: darken($primaryColor, 20%);
      }
    }

    .remove {
      background: linear-gradient(45deg, $offlineColor 0%, darken($offlineColor, 10%) 100%);
      color: $textColor;

      &:hover {
        cursor: pointer;
        color: darken($offlineColor, 20%);
      }
    }

    .remove,
    .primary {
      width: 70%;
      font-size: 5vmin;
      margin: 6vmin auto;
      padding: 3vmin 1vmin;
      border-radius: 2vmin;


      transition-duration: .4s;
      border: none;
      display: block;

      &:last-of-type {
        margin-bottom: 20vmin;
      }

      .fa {
        margin-left: 2vmin;
      }

      &:active {
        filter: invert(25%);
      }
    }
  }

  footer {
    position: fixed;
    left: 0;
  }
}

@media screen and (orientation: landscape) {
  .chat-settings {
    .settings {
      .option {
        width: 60%;
      }

      .remove,
      .primary {
        width: 40%;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .chat-settings {
    .icon-back {
      display: none;
    }

    .clip {
      margin-top: -20vmin;

      .avatar {
        width: 25vmin;
        height: 25vmin;
        margin: 5vmin;
        position: relative;

        img {
          border: .3vmin solid $primaryColor;
        }

        .total-messages {
          right: -4vmin;
          font-size: 2vmin;
        }
      }

      .user {
        font-size: 4vmin;
      }

      .mail {
        font-size: 3vmin;
      }

      .accessibility {
        .option {
          border: .3vmin solid $primaryColor;
          padding: 2vmin;
          width: 20vmin;
          height: 20vmin;
          margin: 2vmin;
          transition-duration: .4s;

          .fa {
            font-size: 4vmin;
          }

          span {
            margin-top: 2vmin;
            font-size: 3vmin;
          }
        }
      }

      .administrator {
        &__identifier {
          font-size: 4.5vmin;
        }

        &__avatar {
          img {
            width: 100px;
            height: 100px;
            border: .3vmin solid $secondaryColor;
          }
        }
      }
    }

    .settings {
      .option {
        width: 70%;

        &__info {
          width: 50%;

          .fa {
            top: -2vmin;
            left: -2vmin;
            padding: 2vmin;
            margin-right: 4vmin;
            border: .3vmin solid $primaryColor;
            font-size: 2vmin;
          }

          span {
            font-size: 4vmin;
          }
        }
      }

      .remove,
      .primary {
        width: 50%;
        font-size: 3vmin;
        margin: 6vmin auto;
        padding: 2vmin;
      }
    }
  }
}
