@import './../../../assets/scss/variables.scss';

.sidebar {
  &--desktop {
    display: none;
  }

  &--mobile {
    padding: 4vmin;
    z-index: 10;
    width: 100vw;

    .items {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
      width: 100%;
      transition-duration: .4s;

      .item {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $textColor;
        text-decoration: none;
        font-size: 3vmax;
        position: relative;

        &:first-of-type,
        &:last-of-type {
          display: none;
        }


        &:hover {
          color: $primaryColor;
        }

        .text {
          display: none;
        }

        .requests {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 4vmin;
          height: 4vmin;
          top: -3vmin;
          right: -3vmin;
          padding: 3vmin;
          color: $bgColor;
          border-radius: 50%;
          background-color: $primaryColor;
          font-size: 4vmin;
          font-family: $decorativeFont;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .sidebar {
    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
      width: 7vw;
      height: 100%;
      background-color: lighten($blackColor, 15%);
      transition: ease-in-out .3s;
      overflow: hidden;
      z-index: 10;
      border-left: .3vmin solid $primaryColor;

      &:hover {
        width: 14vw;
        background-color: transparent;
        background-color: $secondaryColor;

        & .items .item .text {
          opacity: 1;
        }
      }

      .items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .item {
          display: flex;
          align-items: center;
          margin: 4vmin 0;
          text-align: center;
          height: 3vh;
          text-decoration: none;
          position: relative;
          padding-left: .9vw;

          .requests {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2vmin;
            height: 2vmin;
            top: -2vmin;
            right: 5vmin;
            padding: 2vmin;
            color: $bgColor;
            border-radius: 50%;
            background-color: $primaryColor;
            font-size: 2vmin;
            font-family: $decorativeFont;
            transition-duration: .4s;
          }

          &:first-of-type {
            height: 12vmin;
            border-bottom: .3vmin solid $primaryColor;
            margin-top: 0;
            // margin-bottom: 12vmin;
            margin-bottom: 17.5vmin;
            background-color: $blackColor;
            padding-right: 10vw;

            img {
              width: 5vmin;
              height: 5vmin;
              margin: 0 1vmin;
              transform: scale(1.9);
              transition: ease-in-out .2s;
            }

            &:hover img {
              transform: scale(2);
              filter: brightness(0) saturate(100%) invert(84%) sepia(75%) saturate(1053%) hue-rotate(323deg) brightness(106%) contrast(103%);
            }
          }

          &:last-of-type {
            background-color: $blackColor;
            // margin-top: 12vmin;
            margin-top: 17.5vmin;
            padding-right: 10vw;
            border-top: .3vmin solid $primaryColor;
            height: 9vh;
          }

          &.active {
            .icon {
              transform: scale(1.1);
              color: $primaryColor;
            }

            img {
              transform: scale(2);
              filter: brightness(0) saturate(100%) invert(84%) sepia(75%) saturate(1053%) hue-rotate(323deg) brightness(106%) contrast(103%);
            }

            .text {
              transform: skew(10deg);
              color: $primaryColor;
            }

            color: $primaryColor;
          }

          &:hover {
            cursor: pointer;

            .icon {
              transform: scale(1.1);
              color: $primaryColor;
            }

            .text {
              color: $primaryColor;
              transform: skew(10deg);
            }

            span.requests {
              color: $bgColor;
              background-color: $primaryColor;

              &.active {
                color: $bgColor;
                background-color: $primaryColor;
              }
            }
          }

          .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 5vmin;
            height: 5vmin;
            flex-shrink: 1;
            color: $textColor;
            font-size: 5vmin;
            margin: 0 1vmin;
            transition: ease-in-out .3s;
          }

          .text {
            opacity: 0;
            transition: ease-in-out .3s;
            margin-left: 1vmin;
            white-space: nowrap;
            color: $textColor;
            display: flex;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
  .sidebar {
    &--desktop {
      width: 10vw;

      &:hover {
        width: 17vw;
      }

    }
  }
}

@media screen and (min-width: 1280px) and (orientation: landscape) {
  .sidebar {
    &--desktop {
      width: 7vw;

      &:hover {
        width: 14vw;

        .items .item .requests {
          background-color: $textColor;

          &.active {
            color: $bgColor;
            background-color: $primaryColor;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1380px) and (orientation: landscape) {
  .sidebar {
    &--desktop {
      width: 5vw;

      &:hover {
        width: 10vw;
      }
    }
  }
}
