<nav [class]="device === Device.DESKTOP ? 'sidebar--desktop' : 'sidebar--mobile'" class="sidebar">
  <div class="items">
    <a [routerLink]="['/access/chat', chatID]" [ngClass]="{'active': isChatActive}" class="item">
      <fa-icon class="fa icon" [icon]="icons.chats" />
      <div class="text">Chats</div>
    </a>
    <a routerLink="/access/people" routerLinkActive="active" class="item">
      <fa-icon class="fa icon" [icon]="icons.friends" />
      <div class="text">People</div>
    </a>
    <a routerLink="/access/explore" routerLinkActive="active" class="item">
      <fa-icon class="fa icon" [icon]="icons.explore" />
      <div class="text">Explore</div>
    </a>
    <a routerLink="/access/chatbots" routerLinkActive="active" class="item">
      <fa-icon class="fa icon" [icon]="icons.chatbots" />
      <div class="text">Chatbots</div>
    </a>
    <a routerLink="/access/settings" routerLinkActive="active" class="item">
      <fa-icon class="fa icon" [icon]="icons.settings" />
      <div class="text">Settings</div>
    </a>
  </div>
</nav>
