<app-background-effect />
<section class="register-page">
  <div class="landing">
    <div class="brand">
      <img class="img" src="./../../assets/img/PersonBridge-brand.png" alt="">
    </div>
    <div class="description">
      Every message becomes a bridge to new opportunities
    </div>
    <div class="users">
      <div class="row-three">
        <div class="user">
          <img src="./../../assets/img/landing-avatars/Marshall.jpg" alt="Marshall Johnston">
          <span>Marshall Johnston</span>
        </div>
        <div class="user">
          <img src="./../../assets/img/landing-avatars/Johnni.jpg" alt="Johnni Hopkins">
          <span>Johnni Hopkins</span>
        </div>
        <div class="user">
          <img src="./../../assets/img/landing-avatars/Dawn.jpg" alt="Dawn Thompson">
          <span>Dawn Thompson</span>
        </div>
      </div>
      <div class="row-four">
        <div class="user">
          <img src="./../../assets/img/landing-avatars/Edith.jpg" alt="Edith Pena">
          <span>Edith Pena</span>
        </div>
        <div class="user">
          <img src="./../../assets/img/landing-avatars/George.jpg" alt="George Perkins">
          <span>George Perkins</span>
        </div>
        <div class="user">
          <img src="./../../assets/img/landing-avatars/Tamara.jpg" alt="Tamara Gomez">
          <span>Tamara Gomez</span>
        </div>
        <div class="user">
          <img src="./../../assets/img/landing-avatars/Ryan.jpg" alt="Ryan Arnold">
          <span>Ryan Arnold</span>
        </div>
      </div>
      <div class="row-three">
        <div class="user">
          <img src="./../../assets/img/landing-avatars/Edna.jpg" alt="Edna Willis">
          <span>Edna Willis</span>
        </div>
        <div class="user">
          <img src="./../../assets/img/landing-avatars/Marvin.jpg" alt="Marvin Murphy">
          <span>Marvin Murphy</span>
        </div>
        <div class="user">
          <img src="./../../assets/img/landing-avatars/Tracy.jpg" alt="Tracy Burton">
          <span>Tracy Burton</span>
        </div>
      </div>
    </div>
  </div>
  <div class="register-form">
    <div class="register-form__heading">
      <span>Sign </span>
      <span>Up</span>
    </div>
    <form (ngSubmit)="validateForm()" class="form">
      <label for="email">E-mail</label>
      <input [(ngModel)]="registerData.mail" class="input" type="email" name="email" id="email" placeholder="E-mail">
      <label for="name">Name</label>
      <input [(ngModel)]="registerData.name" class="input" type="text" name="name" id="name" placeholder="Name">
      <label for="lastname">Lastname</label>
      <input [(ngModel)]="registerData.lastname" class="input" type="text" name="lastname" id="lastname"
        placeholder="Lastname">
      <label for="password">Password</label>
      <input [(ngModel)]="registerData.password" class="input" type="password" name="password" id="password"
        placeholder="Password">
      <input class="register-button" type="submit" value="Sign Up">
    </form>
  </div>
  <button (click)="switchToLoginPage()" class="login-btn">Already have Account? Sign In!</button>
</section>
