<form class="modal-content" (ngSubmit)="editPassword()">
  <h3>Edit Password</h3>
  <label for="old-password">Old Password:</label>
  <input [(ngModel)]="oldPassword" class="input" type="password" name="password" id="old-password"
    placeholder="Type old password...">
  <label for="new-password">New Password:</label>
  <input [(ngModel)]="password" class="input" type="password" name="password" id="new-password"
    placeholder="Type new password...">
  <label for="new-password2">Repeat Password:</label>
  <input [(ngModel)]="password2" class="input" type="password" name="password2" id="new-password2"
    placeholder="Repeat new password...">
  <button type="submit">Change</button>
</form>
