@import './../../assets/scss/variables.scss';
@import './../../assets/scss/placeholders.scss';


.login-page {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;

  .users {
    display: none;
  }

  .brand {
    width: 100%;
    margin: 10vmin 2vmin 2vmin 2vmin;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
    }
  }

  .description {
    display: none;
  }

  .login-form {
    position: relative;
    border-radius: 5vmin;
    padding: 2vmin 3vmin;
    margin: 5vmin;
    background: linear-gradient(#212121, #212121) padding-box,
      linear-gradient(145deg, transparent 35%, $primaryColor, $secondaryColor) border-box;
    border: 2px solid transparent;
    background-size: 200% 100%;
    animation: gradient 2s ease infinite;
    min-width: 200px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-evenly;
    justify-content: center;

    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }

      50% {
        background-position: 100% 100%;
      }

      100% {
        background-position: 0% 50%;
      }
    }

    .login-form__heading {
      font-family: $decorativeFont;
      text-align: center;
      font-weight: bold;
      font-size: 5vmax;
      color: $secondaryColor;
      padding: 2vmin;

      & span:first-of-type {
        color: $primaryColor;
      }
    }

    .form {
      margin-top: 2vmin;

      .login-button {
        display: block;
        font-weight: bold;
        letter-spacing: .5vmin;
        background: linear-gradient(45deg, $primaryColor 0%, darken($primaryColor, 10%) 100%);
        color: $bgColor;
        font-size: 5vmin;
        text-transform: uppercase;
        padding-block: 2vmin;
        margin: 2vmin auto;
        border-radius: 5vmin;
        box-shadow: $primaryColor 0 0 1vmin .1vmin;
        border: none;
        transition: all 0.2s ease-in-out;
        width: 75%;
        font-family: $decorativeFont;

        &:hover {
          cursor: pointer;
          color: $secondaryColor;
          letter-spacing: 1px;
          box-shadow: $secondaryColor 0 0 1vmin .1vmin;
        }

        &:active {
          transform: scale(0.9);

        }
      }

      .forgot-password {
        display: block;
        margin: 3vmin;
        margin-left: 5vmin;
        font-weight: bold;

        a {
          font-size: 3vmax;
          color: $secondaryColor;
          text-decoration: none;
          transition-duration: .4s;

          &:hover {
            color: $textColor;
          }
        }
      }

      .input {
        width: 90%;
        background: $textColor;
        border: none;
        padding: 15px 20px;
        border-radius: 20px;
        margin: 2% 5%;
        box-shadow: 0 0 2vmin .1vmin darken($textColor, 20%);
        border-inline: 1vmin solid transparent;
        color: $secondaryColor;
        outline-style: none;
        transition-duration: .4s;

        &::-moz-placeholder,
        &::placeholder {
          color: rgb(170, 170, 170);
        }

        &:focus {
          transform: translateX(3vmin);
          box-shadow: $secondaryColor 0 .2vmax 3vmax 0;
        }
      }
    }

    .change-login-method {
      &__title {
        display: block;
        text-align: center;
        font-weight: bold;
        color: $secondaryColor;
      }

      &__btns {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 2vmin auto;

        button {
          background-color: transparent;
          border: none;
          margin: 0 2vmin;
          flex-basis: 25%;

          .fa {
            color: $textColor;
            background-color: $bgColor;
            background-image: radial-gradient(circle, $bgColor 0%, $textColor 500%);
            padding: 2vmin;
            border-radius: 50%;
            border: .1vmin solid $secondaryColor;
            box-shadow: $bgColor 0 0 1vmin .2vmin;
            font-size: 4vmin;
            width: 10vmin;
            transition-duration: .4s;
          }

          &:hover {

            .fa {
              cursor: pointer;
              transform: scale(1.2);
              color: $primaryColor;
              border-color: $primaryColor;
            }
          }
        }

        span {
          display: none;
        }
      }
    }
  }

  .register-btn {
    width: 80%;
    margin: 0 10%;
    border: none;
    font-size: 4vmin;
    font-family: $decorativeFont;
    color: $textColor;
    padding: 2vmin;
    border-radius: 2vmin;
    transition-duration: .4s;
    box-shadow: $secondaryColor 0 0 1vmin .1vmin;
    background: linear-gradient(45deg, $secondaryColor 0%, darken($secondaryColor, 10%) 100%);
    font-weight: 300;
    margin-bottom: 4vmin;

    &:hover {
      cursor: pointer;
      color: $primaryColor;
      letter-spacing: 1px;
      box-shadow: $primaryColor 0 0 1vmin .1vmin;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .login-page .login-form {
    margin: 5vmin 15vmin;
  }
}

@media screen and (min-width: 1024px) {
  .login-page {
    display: flex;
    overflow-y: hidden;

    .landing {
      order: 1;
      flex-basis: 60vw;

      .brand {
        position: relative;
        margin: 5vmin 15% 2vmin 15%;
        width: 70%;
        text-align: center;
      }

      .description {
        display: block;
        position: relative;
        margin: 0 25%;
        text-align: center;
        color: $textColor;
        font-size: 4vmin;
        width: 50%;
        z-index: 10;
        border-top: 1px solid $textColor;
      }

      .users {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5vmin;
        position: relative;

        .row-three,
        .row-four {
          display: flex;
        }

        .user {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: 1vmin 4vmin;
          height: 14vmin;
          text-align: center;

          img {
            width: 10vmin;
            border-radius: 50%;
            border: .1vmin solid $secondaryColor;
            box-shadow: $secondaryColor 0 0 1vmin .2vmin;
          }

          span {
            margin: 2vmin;
            font-size: 2vmin;
            color: $textColor;
          }
        }
      }
    }

    .login-form {
      height: 105vh;
      margin: 0;
      flex-basis: 40vw;
      transform: translate(-10px, -2.5vh);
      box-shadow: #000 0 2vmin 1.5vmin .1vmin;
      border-radius: 0 20% 20% 0;

      .form {
        text-align: center;

        .input {
          box-shadow: 0 0 1vmin .1vmin darken($textColor, 20%);
          margin: 2vmin 0;

          &:focus {
            box-shadow: $secondaryColor 0 .2vmin 3vmin 0;
          }
        }

        .forgot-password {
          text-align: center;
          margin-left: 0;

          a {
            font-size: 4vmin;
          }
        }

        .login-button {
          font-size: 4vmin;
        }
      }

      .change-login-method {
        &__title {
          font-size: 3vmin;
          margin-top: 0vmin;
          margin-bottom: 5vmin;
        }

        &__btns {
          button {
            &:hover span {
              opacity: 1;
            }
          }

          span {
            display: block;
            font-family: $textFont;
            letter-spacing: 2px;
            font-weight: bold;
            margin-top: 2vmin;
            color: $primaryColor;
            opacity: 0;
            transition-duration: .4s;
            z-index: 4;
          }
        }
      }
    }

    .register-btn {
      position: fixed;
      bottom: 1vmin;
      width: 20%;
      font-size: 1.7vmin;
      margin-left: 40%;
      z-index: 2;
      border-radius: 2vmin;
      margin-bottom: 0;
    }
  }
}
