<app-background-effect></app-background-effect>
<section class="login-page">
  <div class="landing" [@slideDown]>
    <div class="brand">
      <img class="img" src="./../../assets/img/PersonBridge-brand.png" alt="">
    </div>
    <div class="description">
      Every message becomes a bridge to new opportunities
    </div>
    <div class="users">
      <div class="row-three">
        <div class="user">
          <img src="./../../assets/img/landing-avatars/Marshall.jpg" alt="Marshall Johnston">
          <span>Marshall Johnston</span>
        </div>
        <div class="user">
          <img src="./../../assets/img/landing-avatars/Johnni.jpg" alt="Johnni Hopkins">
          <span>Johnni Hopkins</span>
        </div>
        <div class="user">
          <img src="./../../assets/img/landing-avatars/Dawn.jpg" alt="Dawn Thompson">
          <span>Dawn Thompson</span>
        </div>
      </div>
      <div class="row-four">
        <div class="user">
          <img src="./../../assets/img/landing-avatars/Edith.jpg" alt="Edith Pena">
          <span>Edith Pena</span>
        </div>
        <div class="user">
          <img src="./../../assets/img/landing-avatars/George.jpg" alt="George Perkins">
          <span>George Perkins</span>
        </div>
        <div class="user">
          <img src="./../../assets/img/landing-avatars/Tamara.jpg" alt="Tamara Gomez">
          <span>Tamara Gomez</span>
        </div>
        <div class="user">
          <img src="./../../assets/img/landing-avatars/Ryan.jpg" alt="Ryan Arnold">
          <span>Ryan Arnold</span>
        </div>
      </div>
      <div class="row-three">
        <div class="user">
          <img src="./../../assets/img/landing-avatars/Edna.jpg" alt="Edna Willis">
          <span>Edna Willis</span>
        </div>
        <div class="user">
          <img src="./../../assets/img/landing-avatars/Marvin.jpg" alt="Marvin Murphy">
          <span>Marvin Murphy</span>
        </div>
        <div class="user">
          <img src="./../../assets/img/landing-avatars/Tracy.jpg" alt="Tracy Burton">
          <span>Tracy Burton</span>
        </div>
      </div>
    </div>
  </div>
  <div class="login-form" [@slideInLeft]>
    <div class="login-form__heading">
      <span>Sign </span>
      <span>In</span>
    </div>
    <form class="form" (ngSubmit)="onSubmit()">
      <input [(ngModel)]="loginData.mail" class="input" type="email" name="mail" id="mail" placeholder="E-mail"
        #emailInput>
      <input [(ngModel)]="loginData.password" class="input" type="password" name="password" id="password"
        placeholder="Password" #passwordInput>
      <!-- <span class="forgot-password"><a href="#">Forgot Password?</a></span> -->
      <button type="submit" class="login-button">Sign In</button>
    </form>
    <!-- <nav class="change-login-method">
      <span class="change-login-method__title">Or Sign in with</span>
      <div class="change-login-method__btns">
        <button class="change-login-method__button">
          <fa-icon class="fa" [icon]="icons.password"></fa-icon>
          <span>Password</span>
        </button>
        <button class="change-login-method__button">
          <fa-icon class="fa" [icon]="icons.biometric"></fa-icon>
          <span>Biometrics</span>
        </button>
        <button class="change-login-method__button">
          <fa-icon class="fa" [icon]="icons.voice"></fa-icon>
          <span>Voice</span>
        </button>
        <button class="change-login-method__button">
          <fa-icon class="fa" [icon]="icons.mail"></fa-icon>
          <span>Mail</span>
        </button>
      </div>
    </nav> -->
  </div>
  <button (click)="switchToRegisterPage()" class="register-btn" [@slideUp]>Don't have Account? Sign Up!</button>
</section>
