@import './../../../assets/scss/variables.scss';

.chat {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: darken(#3d3d3db7, 10%);
  // background: linear-gradient(45deg, $primaryColor 0%, darken($primaryColor, 10%) 100%);
  // background-image: url('./../../../assets/img/crossline-lines.webp');
  // background-blend-mode: multiply;

  .header {
    position: relative;
    display: flex;
    width: 100%;
    padding: 2vmin 1vmin;
    background-color: $blackColor;
    border-bottom: .2vmin solid $primaryColor;
    box-shadow: 0 0 2vmin .2vmin $primaryColor;
    z-index: 4;
    flex-shrink: 0;

    .icons {
      position: absolute;
      right: 12vmin;
      bottom: 4vmin;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 25%;

      .icon-wrapper {
        display: flex;
        flex-direction: column;
        position: relative;

        .icon {
          color: $primaryColor;
          font-size: 5vmin;
          transition-duration: .4s;
          width: 7vmin;
          text-align: center;

          &:hover {
            cursor: pointer;
            color: $secondaryColor;
            transform: scale(1.2);
          }
        }

        .text {
          display: none;
        }
      }

    }

    .avatar {
      width: 15vmin;
      margin: 2vmin 5vmin;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 120%;
        border-radius: 5vmin;
        border: .7vmin solid $primaryColor;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .identifier {
        color: $textColor;
        font-size: 8vmin;
      }

      .status {
        display: flex;
        align-items: center;

        &__dot {
          min-width: 4vmin;
          min-height: 4vmin;
          border-radius: 50%;
          background-color: #00ab17;
        }

        &__info {
          color: #00ab17;
          margin-left: 2vmin;
        }
      }
    }
  }

  .messages {
    overflow-x: hidden;
    overflow-y: auto;

    .blocked-message {
      text-align: center;
      color: lighten($bgColor, 20%);
      margin-bottom: 3vmin;
    }
  }

  .message-type {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $blackColor;
    z-index: 4;
    border-top: .2vmin solid $primaryColor;
    box-shadow: 0 0 2vmin .2vmin $primaryColor;
    margin-bottom: -1vmin;
    flex-shrink: 0;
    padding: 1.5vmin;

    .textarea {
      position: relative;
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      textarea {
        height: 70%;
        resize: none;
        border-radius: 5vmin;
        width: 90%;
        background-color: $bgColor;
        border: none;
        box-shadow: 0 0 2vmin .1vmin darken($textColor, 20%);
        border-inline: 1vmin solid transparent;
        color: $textColor;
        outline-style: none;
        transition-duration: .4s;
        padding: 2.5vmin;
        padding-right: 5vmin;
        line-height: 150%;
        display: flex;
        // flex-direction: column;
        align-items: center;

        /* disable scrollbar visibility for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
          display: none;
        }

        /* disable scrollbar visibility for IE and Edge */
        -ms-overflow-style: none;
        /* disable scrollbar visibility for Firefox */
        scrollbar-width: none;
      }

      .emoticons {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 4vmin;
        bottom: 0;
        color: $primaryColor;
        transition-duration: .4s;

        &:hover {
          cursor: pointer;
          color: $textColor;
        }
      }
    }


    .send-btn {
      display: block;
      font-weight: bold;
      letter-spacing: .5vmin;
      background: linear-gradient(45deg, $primaryColor 0%, darken($primaryColor, 10%) 100%);
      color: $bgColor;
      font-size: 4vmin;
      text-transform: uppercase;
      padding-block: 2vmin;
      border-radius: 5vmin;
      box-shadow: $primaryColor 0 0 1vmin .1vmin;
      border: none;
      transition: all 0.2s ease-in-out;
      width: 40%;
      font-family: $decorativeFont;
      margin: 1vmin 5vmin;

      &:hover {
        cursor: pointer;
        color: $secondaryColor;
        letter-spacing: 1vmin;
        box-shadow: $secondaryColor 0 0 1vmin .1vmin;
      }

      &:active {
        transform: scale(0.9);
      }
    }

  }
}

@media screen and (min-width: 768px) {
  .chat {
    .header .info .status {
      &__info {
        font-size: 5vmin;
      }
    }

    .messages {
      .blocked-message {
        font-size: 4vmin;
      }
    }

    .message-type {
      textarea {
        font-size: 4vmin;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .chat {
    width: 65.5vw;
    margin-left: 30vw;

    .header {
      padding: 0;
      box-shadow: none;
      height: 12vmin;

      .icons {
        width: 15%;

        .icon-wrapper {
          display: flex;
          flex-direction: column;
          position: relative;

          &:hover {
            .text {
              transform: scale(1);
            }
          }

          .icon {
            font-size: 4vmin;
            // background-color: #fff;
            margin: 0 1vmin;
          }

          .text {
            position: absolute;
            bottom: -7vmin;
            left: -3vmin;
            display: inline-block;
            width: 15vmin;
            text-align: center;
            // width: 5vmin;
            transform: scale(0);
            color: $textColor;
            background-color: $hoverColor;
            padding: 1vmin;
            border-radius: 2vmin;
            transition-duration: .2s;
            z-index: 15;
          }
        }

      }

      .avatar {
        width: 7vmin;
        margin: 2vmin 5vmin;

        img {
          border: .3vmin solid $primaryColor;
        }
      }

      .info {
        .identifier {
          font-size: 4vmin;
        }

        .status {

          &__dot {
            min-width: 2vmin;
            min-height: 2vmin;
          }

          &__info {
            font-size: 2vmin;
          }
        }
      }
    }

    .messages {

      .blocked-message {
        text-align: center;
        color: lighten($bgColor, 20%);
        margin-bottom: 3vmin;
        font-size: 2vmin;
      }
    }

    .message-type {
      height: 10vh;
      box-shadow: none;

      // display: flex;
      // align-items: center;
      .textarea {
        textarea {
          height: 60%;
          margin: 0 5vmin;
          padding: .5vmin 2vmin;
          border-radius: 5vmin;
          border: none;
          font-size: 2vmin;
          padding-right: 5vmin;
        }

        .emoticons {
          right: 6vmin;
          font-size: 3vmin;
        }
      }


      .send-btn {
        font-size: 2vmin;
        padding-block: 1.5vmin;
        border-radius: 5vmin;
        border: none;
        transition: all 0.2s ease-in-out;
        width: 20%;
        font-family: $decorativeFont;
        margin: 1vmin 5vmin;

        &:hover {}

        &:active {}
      }

    }
  }
}