<div class="personbots">
  <h2 class="heading">
    <a routerLink="/access" routerLinkActive="active" class="icon-back">
      <fa-icon class="fa" [icon]="icons.back" />
    </a>
    <span @fadeIn>PersonBots</span>
    <fa-icon @fadeIn class="fa icon" [icon]="icons.section" />
  </h2>
  <div class="users" @fadeIn>
    <div class="row-three">
      <div class="user">
        <img src="./../../assets/img/landing-avatars/Marshall.jpg" alt="Marshall Johnston">
        <span>Marshall Johnston</span>
      </div>
      <div class="user">
        <img src="./../../assets/img/landing-avatars/Johnni.jpg" alt="Johnni Hopkins">
        <span>Johnni Hopkins</span>
      </div>
    </div>
    <div class="row-four">
      <div class="user">
        <img src="./../../assets/img/landing-avatars/Edith.jpg" alt="Edith Pena">
        <span>Edith Pena</span>
      </div>
      <div class="user">
        <img src="./../../assets/img/landing-avatars/George.jpg" alt="George Perkins">
        <span>George Perkins</span>
      </div>
      <div class="user">
        <img src="./../../assets/img/landing-avatars/Tamara.jpg" alt="Tamara Gomez">
        <span>Tamara Gomez</span>
      </div>
    </div>
    <div class="row-three">
      <div class="user">
        <img src="./../../assets/img/landing-avatars/Edna.jpg" alt="Edna Willis">
        <span>Edna Willis</span>
      </div>
      <div class="user">
        <img src="./../../assets/img/landing-avatars/Marvin.jpg" alt="Marvin Murphy">
        <span>Marvin Murphy</span>
      </div>
    </div>
  </div>
  <footer class="footer">
    <app-footer [position]="Position.FIXED" />
  </footer>
</div>
