<div *ngIf="fadeOut" [@fadeOut] class="card" [ngClass]="{
  'card--online': type === CardType.ONLINE,
  'card--offline': type === CardType.OFFLINE,
  'card--blocked': type === CardType.BLOCKED,
  'card--request': type === CardType.REQUEST
}">
  <div class="card-border-top">
  </div>
  <div class="img">
    <img [src]="person.avatar" [alt]="person.name">
  </div>
  <span class="name">{{person.name}} {{person.lastname}}</span>
  <p class="mail">{{person.mail}}</p>
  <div class="message-card" *ngIf="type === CardType.ONLINE || type === CardType.OFFLINE">
    <button (click)="messageFriend(person.id)">Message</button>
  </div>
  <div class="blocked-card" *ngIf="type === CardType.BLOCKED">
    <button (click)="unblock()">Unblock</button>
  </div>
  <div class="request-card" *ngIf="type === CardType.REQUEST">
    <button (click)="acceptRequest()">Accept</button>
    <button (click)="ignoreRequest()">Ignore</button>
  </div>
</div>
